# Python
**/__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.python_history
py_envs/

# Environment / secrets
.env
*.key
keys.json
*.conf

# Logs
*.log
*.log.[0-9]*
*.log.[0-9]*.gz

# Databases
*.sqlite
*.db
*.db-shm
*.db-wal*

# Data
**/data/*

# IDEs / editors
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
.Trash-1000/
