scraper/issues.md
test.py

*.egg-info
/.env
*.key
keys.json

*.conf
*.log
*.log.[0-9]*
*.log.[0-9]*.gz
*.sqlite
*.db
*.db-shm
*.db-wal
scraper/data/profiles/*

.Trash-1000/

# npm
.npm/
node_modules/
package-lock.json
package.json

# Python
py_envs/
.python_history
__pycache__/

# DDNS data
ddns/*.txt
ddns/*.log

# NPM data
nginx-proxy-manager/data/
nginx-proxy-manager/letsencrypt/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Admin panel
.bash_history
.bash_logout
.bashrc
.config/
.gitconfig
.lesshst
.profile
.selected_editor
.ssh/
.sudo_as_admin_successful
.viminfo
.docker/
.local/
.cache
